{% load staticfiles %}
{% load leaflet_tags %}
{% load bootstrap3 %}
<html>
  <head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <style>
        .leaflet-container {  /* all maps */
            width:  800px;
            height: 400px;
        }
        #specialbigmap {
            height: 800px;
        }
    </style>
  </head>
  <body>
    <h1>Map of Surfing Photos in California</h1>
    {% leaflet_map "main" callback="maplocations" %}
    <script type="text/javascript">

      function displayBox(feature, layer) {
        layer.bindPopup("<p><b>" + feature.properties.title + "</b></p><a target='_blank' href=" + feature.properties.page_url +"><img src=" + feature.properties.url + " /></a><br><b>Date Taken:</b> " + feature.properties.datetaken + "<br><b>Lat:</b> " + feature.properties.latitude + "<br><b>Long:</b> " + feature.properties.longitude);
      }

      function maplocations(map, options) {
        var mapdata = '{% url "data" %}';
        $.getJSON(mapdata, function(data) {
          L.geoJson(data,{
            onEachFeature: displayBox
          }).addTo(map);
        })
      }
    </script>
  </body>
</html>
